{% extends 'base.html' %}

{% block content %}
<br>
<main style="width: 500px; margin: 0 auto;">
  <h1 class="h3 mb-3 fw-normal" style="text-align: center;">Авторизация</h1>

  <form method="post">
    {% csrf_token %}
    <div class="text-danger">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label style="display: inline-block; min-width: 150px; vertical-align: top;" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="text-danger">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit" class="btn btn-outline-success w-100 py-2">Войти</button></p>

    <p><a href="#">Забыли пароль?</a></p>
  </form>

</main>

{% endblock %}