{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<br>
<main style="width: 500px; margin: 0 auto;">
  <h1 class="h3 mb-3 fw-normal" style="text-align: center;">{{ title }}</h1>

  <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

  <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

</main>

{% endblock %}