{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<h2>Проект “Погода”</h2>
<h3><a href="https://zhukovsd.github.io/python-backend-learning-course/Projects/WeatherViewer/">ТЗ проекта</a></h3>

<p>Веб-приложение для просмотра текущей погоды. Пользователь может зарегистрироваться и добавить в коллекцию один или несколько локаций (городов, сёл, других пунктов), после чего главная страница приложения начинает отображать список локаций с их текущей погодой.</p>
<h3>Используемые инструменты</h3>
<p><ul>
  <li>Python - коллекции, ООП</li>
  <li>Backend - Django</li>
  <li>Базы данных - Postgres, DjangoORM</li>
  <li>Frontend - HTML/CSS, Bootstrap</li>
</ul></p>

<h3>Мотивация проекта</h3>
<p><ul>
  <li>Реализация многопользовательского приложения</li>
  <li>Работа с внешними API</li>
</ul></p>

<h3>Функционал приложения</h3>

<h4>Работа с пользователями:</h4>
<p><ul>
  <li><a href="{% url 'users:register' %}">Регистрация</a></li>
  <li><a href="{% url 'users:login' %}">Авторизация</a></li>
  <li>Logout</li>
  <li>Изменение пароля</li>
  <li><a href="{% url 'users:password_reset' %}">Восстановление пароля</a></li>
</ul></p>

<h4>Работа с локациями:</h4>
<p><ul>
  <li>Поиск</li>
  <li>Добавление в список</li>
  <li>Просмотр списка локаций, для каждой локации отображается название и температура</li>
  <li>Удаление из списка</li>
</ul></p>

{% endblock %}