{% extends 'base.html' %}

{% block content %}
<main style="margin: 0 auto;">
<h1>{{ title }}</h1>
<h2>Проект “Погода”</h2>

<p>Веб-приложение для просмотра текущей погоды. Пользователь может зарегистрироваться и добавить в коллекцию один или несколько локаций (городов, сёл, других пунктов), после чего главная страница приложения начинает отображать список локаций с их текущей погодой.</p>

<p><a href="https://zhukovsd.github.io/python-backend-learning-course/Projects/WeatherViewer/">ТЗ проекта</a></p>

</main>
{% endblock %}