{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

<h1 class="h1 mb-3 fw-normal" style="text-align: center;">{{ title }} на 5 дней</h1>

<div class="container">
  <div class="row">
    <div class="col-2 d-flex align-items-center justify-content-center">
      <span style="color: gray;">Дата и время</span>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <span style="color: gray;">Температура</span>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <span style="color: gray;">Ощущается</span>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
    </div>
    <div class="col-2 d-flex align-items-center justify-content-center">
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <span style="color: gray;">Давление, мм рт.ст.</span>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <span style="color: gray;">Влажность</span>
    </div>
  </div>

{% for location_current_weather in forecast.forecast.values %}
    <div class="row">
    <div class="col-2 d-flex align-items-center justify-content-center">
        {{ location_current_weather.current_date }} {{ location_current_weather.current_time }}
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <b>{{ location_current_weather.temp_min }}&deg;...{{ location_current_weather.temp_max }}&deg;</b>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <b>{{ location_current_weather.feels_like }}&deg;</b>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
        <img src="{% static 'weather/images/custom_icon/'|add:location_current_weather.icon|add:'.png' %}" alt="icon" width="40" height="40" title="{{ location_current_weather.weather_desc }}">
    </div>
    <div class="col-2 d-flex align-items-center justify-content-center">
        {{ location_current_weather.weather_desc }}
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
        {{ location_current_weather.pressure }}
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
        {{ location_current_weather.humidity }}
    </div>
  </div>
{% endfor %}
</div>


{% else %}

<h2 class="h3 mb-3 fw-normal" style="text-align: center;">Чтобы просматривать погоду надо <a href="{% url 'users:login' %}">авторизоваться</a></h2>

{% endif %}

{% endblock %}